/* ======================================================== */
/* Global Reset and Base Styles */
/* ======================================================== */

* {
  all: unset;
  font-family: "Iosevka Nerd Font";
  font-size: 13px;
  font-weight: 900;
}

/* ======================================================== */
/* Waybar Window Styles */
/* ======================================================== */
window#waybar {}

window#waybar.hidden {}

window#waybar.empty #window {}

/* Tooltip */

tooltip {
  background-color: #32302f;
  color: #ebdbb2;
  border: 1px solid #3c3836;
  border-radius: 0px;
  padding: 8px 12px;
  font-size: 18px;
}

tooltip label {
  color: #ebdbb2;
}

/* ======================================================== */
/* Module Specific Styles */
/* ======================================================== */


/* General module spacing */
#tray,
#custom-power-button,
#window,
#disk,
#cpu,
#temperature,
#backlight,
#memory,
#wireplumber,
#battery,
#idle_inhibitor,
#language,
#custom-spotify,
#clock {
  margin: 0 7px;
  color: #bdae93
}

#left,
#right {
  background-color: rgba(40, 40, 40, 0.9);
  border: 2px solid #3c3836;
  border-radius: 10px;
  padding: 2px 4px;
}

/* Workspaces Module */
#workspaces button {
  margin: 0 6px;
  color: #928374;
}

#workspaces button:hover,
#workspaces button.visible,
#workspaces button.active {
  color: #bdae93;
}

#workspaces button.urgent {
  color: #cc241d;
}

#tray menu {
  background-color: #32302f;
  color: #ebdbb2;
  border: 1px solid #d5c4a1;
  border-radius: 0px;
  padding: 8px 12px;
  font-size: 18px;
}
